# dot files
/.vscode/launch.json
/.vscode/settings.json
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

/stm32/.mxproject
/stm32/*.json
/stm32/*s
/stm32/*.ld